# Frontend
frontend/.nuxt/*
frontend/.output/*
frontend/node_modules/*
frontend/bun.lockb
frontend/*-lock.*
frontend/.env
frontend/.env.*
frontend/version.txt

# Backend
backend/node_modules/*
backend/.env
backend/dist/*
backend/src/data.db
backend/bun.lockb
backend/*-lock.*

# Parse PDF Utility
parse-pdf/*.pdf
parse-pdf/.venv/*
parse-pdf/__pycache__/*
parse-pdf/.env

# Updater
updater/*.exe

# IDE and Editor files
.vscode/*
.idea/*
*.swp
.DS_Store
